.image
{
    width: 325px;
    margin-top: 20px;
}

body
{
    text-align: center;
    color: rgb(255,45,90);
}

.img-fond
{
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    opacity: 0.6;
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


.btngreen {
    color: green;
    position: absolute;
    left:30%;
    width:80px;
    height:50px;
}
.btnred {
    color: red;
    position: absolute;
    left:60%;
    width:80px;
    height:50px;
}

.modal-title {
    font-size:20px;
    text-align: center;
}

.image-nav
{
    height: 30px;
    width: auto;
}


.formulaire
{
    text-align: center;
}

.formu
{
    margin: 8px;
    width: 90%;
    height: 40px;
    border-radius: 5px;
}

.button
{
    margin: 20px;
    width: 70%;
    height: 50px;
    border-radius: 5px;
    color: rgb(255,45,90);
}

.button1
{
    margin-top: 60%;
    margin-bottom: 20px;
    margin-right: 20%;
    margin-left: 20pX;
    width: 70%;
    height: 60px;
    border-radius: 5px;
    color: rgb(255,45,90);
}

@media screen and (max-width: 1000px) {
    .button1
    {
        margin: 20px;
        width: 70%;
        height: 50px;
        border-radius: 5px;
        color: rgb(255,45,90);
    }
}

@media screen and (max-width: 350px) {
    .image
    {
        width: 80%;
    }

}

.fichier
{
    margin-left: 35%;
}

.erreur
{
    font-size: large;
    color: rgb(255,45,90);
}
